body{
    font-family: 'Montserrat';
    
 }
 
 #title{
    font-family: 'Montserrat';
    background-color:#ff4c68;
    color:#fff;
}

h1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}



h2{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size:3rem;
    line-height:1.5;
}

h3{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.5rem;
}

p{
    color: #8f8f8f;
}


.container-fluid{
    padding: 5% 15% 7%;
}

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Montserrat';
    font-weight: 200;
}

.download-button{
    margin: 5% 3% 5% 0%
}

.dog-img{
    
    position: absolute;
    margin-left: 7%;
    width: 300px;
    transform: rotate(25deg);
}

/* Media Query Breakpoint */
@media (max-width: 1020px){
    .dog-img{
        transform: rotate(0);
        position: static;
        text-align: center;
    }

    .title{
        text-align: center;
    }
}

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.icons{
    margin-bottom: 20px;
    color:#ef8172;
}

.icons:hover{
    color:#ff4c68;
}

.features-grid{
    text-align: center;
    padding: 4.3%;
}


/* Testmonials section */
#testimonials{
    text-align:center;
    background-color:#ef8172;
    
    color:#fff;
  }

.testimonial-img{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}

#CustomerExamples{
    padding: 7% 15%;
}

/* Press section */
#press{
    background-color:#ef8172;
    text-align: center;
    padding:3%;
}

.press-img{
    width: 15%;
    padding: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-cards{
    padding: 3% 2%;
}


/* Call to Action */
#cta{
    padding: 7% 20%;
    color: #fff;
    text-align: center;
    background-color: #ff4c68; 
}

.cta-h3{
    font-size: 3em;
    line-height: 1.5;
}

.cta-btn{
    margin: 5% 2%;
}

/* Footer */

#footer{
    background-color: #fff;
    padding: 5% 15% 3%;
    text-align: center;
    font-family: 'Montserrat';
    color:grey;
}

.footer-p{
    font-size: 0.8rem;
    font-weight: 500;
}

.footer-icons{
    margin: 1% 0.8%;
}















